{% extends "blog/base.html" %}

{% block content %}
<title>About Journal</title>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
				
		</div>
		<div class="col-md-6">
			<h1 class="fw-bold">About the Journal</h1>
			<h3 class="fw-bold">Aims & Scope</h3>
			<p>	
				Nature is a weekly international journal 
				publishing the finest peer-reviewed research 
				in all fields of science and technology on the 
				basis of its originality, importance, interdisciplinary 
				interest, timeliness, accessibility, elegance 
				and surprising conclusions. Nature also provides 
				rapid, authoritative, insightful and arresting news 
				and interpretation of topical and coming trends affecting 
				science, scientists and the wider public.
			</p>
			<h3 class="fw-bold pt-2">
				Nature's mission statement
			</h3>
			<p>
				First, to serve scientists through prompt
				publication of significant advances in any
				branch of science, and to provide a forum
				for the reporting and discussion of news 
				and issues concerning science. Second, 
				to ensure that the results of science are 
				rapidly disseminated to the public throughout
				the world, in a fashion that conveys their 
				significance for knowledge, culture and daily life.
				Nature's original mission statement was published 
				for the first time on 11 November 1869.
			</p>
		</div>
	</div>
</div>
{% endblock %}