{% extends "blog/base.html" %}
{% load bootstrap5 %}

{% block content %}
<title>Create Post</title>
<div class="container-fluid">
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-primary {{ message.tags }}"
				role="alert">{{ message|safe }}
			</div>
		{% endfor %}
	{% endif %}
	
	<div class="row">
		<div  class="col-md-8 col-xs-12">
			<div class="g-0 border rounded 
						overflow-hidden flex-md-row mb-4 
						shadow-sm h-md-250 position-relative 
						bg-dark text-white p-3">
  				<h1>Create Post</h1>
			</div>
			<div class="py-3">
				<div class="border p-4">
					<form action="." 
				          method="post" 
				          enctype="multipart/form-data">
						{% bootstrap_form create_form %}
						{% csrf_token %}
						<button type="submit" 
								class="btn btn-primary">
								Create Post
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<br>
{% endblock %}